<div class="panel top">
    <div class="counter">
        <img src="img/coin.png" />
        1000
    </div>
    <div class="counter">
        <img src="img/gem.png" />
        1
    </div>
</div>

<div class="app">
    <h1 ng-click="home.sayHi()">{{home.title}}</h1>
    <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
    </div>
</div>

<div class="panel bottom">
    <div class="icon heroes">
        <div class="label">Manage Hero</div>
    </div>
    <div class="icon items">
        <div class="label">Manage Items</div>
    </div>
    <div class="icon missions">
        <div class="label">Missions</div>
    </div>
    <div class="icon book">
        <div class="label">Hero Book</div>
    </div>
    <div class="icon pantheon">
        <div class="label">Pantheon</div>
    </div>
</div>
