<modal-dialog modal-title="'Create New Mission'" opened="missions.modal" submit-action="missions.addMission()" close-action="missions.closeMission()">
    <input type="text" placeholder="Mission Description" />
    Reward:
    <div class="btn"><img class="btn-icon"/ src="img/coin.png"> 1 000</div>
    <div class="btn"><img class="btn-icon"/ src="img/coin.png"> 3 000</div>
    <div class="btn"><img class="btn-icon"/ src="img/coin.png"> 5 000</div>
</modal-dialog>
<div class="panel content">
    <div class="tabs">
        <div ng-repeat="tab in missions.tabs" ng-class="{active: tab == missions.activeTab}" ng-click="missions.activeTab = tab" ng-bind="tab.label"></div>
    </div>
    <div class="tabs-content">
        <div ng-repeat="tab in missions.tabs" ng-class="{active: tab == missions.activeTab}">
            <scroll-list>
                <div class="scroll-item" ng-repeat="item in tab.items" ng-bind="item"></div>
            </scroll-list>
            <div class="buttons-panel">
                <div class="btn" ng-click="missions.modal = !missions.modal">New Mission</div>
                <div class="btn">Edit Mission</div>
            </div>
        </div>
    </div>
</div>
