<div class="modal fade" ng-class="{in: opened, visible: opened}">
    <div class="modal-dialog">
        <div class="modal-header">
            <div class="close" ng-click="modal.close()">×</div>
            <h4 class="modal-title" ng-bind="modalTitle"></h4>
        </div>
        <div class="modal-body">
            <scroll-list>
                <ng-transclude></ng-transclude>
            </scroll-list>
       </div>
       <div class="modal-footer">
            <div class="btn" ng-click="modal.executeAction()" ng-bind="'Ok'"></div>
        </div>
    </div>
</div>
